/*Estilos react big calendar*/
.bigCalendar-container{
    /* background: white; */
    height: 93vh;
    min-height: 700px;
    min-width: 650px;
    padding-right: 10px;
}

/* .bigCalendar-container .rbc-month-view{
    height: 76vh;
} */

/* Grilla sin toolbar Mes*/
.rbc-month-view {
    background: white;
}

/* Grilla sin toolbar Semana*/
.rbc-time-view {
    background-color: white;
}

/* Grilla sin toolbar Agenda*/
.rbc-agenda-view {
    background-color: white;
}

/* Fecha actual */
.rbc-today {
    background-color: #0171993d;
}

/* Hora actual */
.rbc-current-time-indicator {
    background-color: #2196F3;
    height: 1px;
}

/* Grilla + toolbar */
.rbc-calendar {
    background-color: #017199;
}

/* Button toolbar */
span.rbc-btn-group {
    background-color: white;
    margin-left: 9px;
    margin-top: 9px;
    margin-right: 9px;
    border-radius: 5px;
}

/* Label Mes */
span.rbc-toolbar-label {
    color: white;
    font-size: 1.3em;
    font-weight: 500;
}

.rbc-selected-cell{
    background-color: #2692b92a;
}

.field-title{
    font-weight: 600;
}






/** Style ContextMenu Events */
.react-contextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    color: #373a3c;
    font-size: 16px;
    margin: 2px 0 0;
    min-width: 160px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
  }
  
.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}
  
.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #373a3c;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    /* padding: 3px 20px; */
    text-align: inherit;
    white-space: nowrap;
}
  
.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    /* color: #fff; */
    background-color: #d4d4d4;
    /* border: solid 0.5px #9b9b9b; */
    /* text-decoration: none; */
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.15);
    color: #878a8c;
}
  
.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.15);
}
  
.react-contextmenu-item.react-contextmenu-submenu {
    padding: 0;
  }

/* .react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {

} */
  
.react-contextmenu-item.react-contextmenu-submenu
> .react-contextmenu-item:after {
    content: '▶';
    display: inline-block;
    position: absolute;
    right: 7px;
  }
  
.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}
  
.custom-root {
    background-color: #fff;
}
  
.custom-divider {
    background-color: #000;
}
  
.custom-selected {
    background-color: #f00;
}
  


.btn-calendar-modal-contextmenu i {
    font-size: 13px;
    float: left;
    margin-top: 8px;
    margin-right: 10px;
}

.btn-calendar-modal-contextmenu {
    font-size: 16px !important;
    padding: 0px !important;
    padding-left: 14px !important;
    width: 100%;
    text-align: left !important;
}


.rbc-event{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.rbc-month-view .rbc-event{
    font-size: 0.85em;
}