.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-group .form-control {
    width: 100%;
}

.input-group .input-group-text {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group div+.input-group-text {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.datetime__clear {
    color: #9a9a9a;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 5px;
    right: 0;
    border: none;
    background: none;
}